footer {
    float: left;
    width: 100%;
    background: #222222;
    padding: 50px 0 0 0;
    color: #bababa;
    h5 {
        color: white;

        line-height: 30px;
        font-weight: 700;
        margin: 0 0 15px 0;

    }


    .last {
        position: relative;
        float: left;
        width: 100%;
        margin-bottom: 30px;

     

        .social-network {
          
            display: block;
            width: 100%;

         
            .fa-2x.icon-square {
                width: 60px;
                height: 60px;
                background-color: #464646;
                color: #bababa;
                font-size: 22px;
                line-height: 58px;
                border-radius: 2px;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: red;
                }
            }
       
       
       
        }


     
    
    
    .list-icons{

        .fa{
            color: #f43438 ;
        }
        a{
            color: #bababa;
           &:hover{
            color: #f43438 ;
           }
        }
    
    }


.recent-post {
    margin: 0;
    padding: 0;

.recent-post-date{
    border: 1px solid #bababa ;
    // position: absolute;
     width: 36px;
    // height: auto;
    padding: 8px;
    text-align: center;
    // border-radius: 2px;
    // left: 0;
}
    a{

        color: #bababa;
        transition: all 0.3s ease-in-out;
        &:hover{
            color: #f43438 ;
        }
    }
}

.form-control {
    background: none;
    color: #b2b2b2;
    border: 1px solid #fff;
}
.form-control {
    padding: 10px 15px;
    height: 40px;
    border-radius: 2px;
    font-size: 13px;
    box-shadow: none;
}
.btn-primary{
background-color: #f43438;
border-color: #f43438;
color: #fff;
    outline: none;
}
}
}
.subfooter {
    float: left;
    width: 100%;
    background: #1a1a1a;
    text-align: center;
    margin-top: 20px;
    padding: 30px 0 10px 0;
    color: #898989;

    a{
        color: #f43438;
    }
}