// .top-container {
//   background-color: #f43438 !important;
//   float: left;
//   width: 100%;
//   color: #ffffff;
//   font-size: 13px;
//   max-height: 25px;


//   .row {
//       display: flex;
//       justify-content: space-between;

//       .top-column-left {

//           .contact-line {
//               display: flex;

//               .fa-phone {
//                   border-left: 1px solid #fff;
//                   margin-left: 10px;
//                   padding-left: 10px;
//               }
//           }
//       }

//       .top-column-right {
//           display: flex;


//           .top-social-network {
//               a {
//                   color: #fff;
//                   margin: 2px;
//                   font-size: 13px;

//               }
//           }
//       }

//       .register {
//           display: flex;

//           li {

//               a {
//                   color: #f3f3f3;
//                   border-left: 1px solid #fff;

//                   margin-left: 10px;
//                   padding-left: 10px;
//               }
//           }

//       }
//   }

// }

 .top-nav{
  height: 25px;
  width: 100%;
  background-color: #f43438 !important;
   
   width: 100%;
   color: #ffffff;
   
   max-height: 25px;
.container{


   .row {
    display: flex;
    justify-content: space-between;

    .top-column-left {

        .contact-line {
            display: flex;

            .fa-phone {
                border-left: 1px solid #fff;
                margin-left: 10px;
                padding-left: 10px;
            }
        }
    }

    .top-column-right {
        display: flex;


        .top-social-network {
            a {
                color: #fff;
                margin: 2px;
                font-size: 13px;

            }
        }
    }

    .register {
        display: flex;
        padding: 0;

        li {
   list-style: none;
            a {
                color: #f3f3f3;
                border-left: 1px solid #fff;

                margin-left: 10px;
                padding-left: 10px;
            }
        }

    }
}

}
 }

 


#navbarSec {
  position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #222222;
    a {
      color: white;
    }
    .active a {
      color: red;
    }
    ul {
      li {
        margin: 0px 10px;

      }
      a:hover{
        color: red;
      }
    }
  
    .dropdown-menu {
      background-color: #222222;
      padding: 20px;
     border-top: 2px solid red;
      margin-top: 10px;
      .dropdown-divider {
          border-top: 1px solid rgb(233, 236, 239,0.2);
      }
      .dropdown-item:hover{
          background-color: transparent;
          color: red;
      }
    }

    .navlink-right{
      display: inline-block;
    position: relative;
    z-index: 3;
    // float: right;
    margin: 20px 0 0 0;
    padding: 0 0 0 5px;
    transition: all 0.6s ease-in-out;
  
    




   .left-dropdown{

      margin-left:-70px;

   }

   .span{
    color: #767676;
   }
    }
.cart-item{
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -2px;
    background-color: red;
  }
  
  .nav-link{
    .fa{
      color: red;
    }
  }

}